
.DS_Store
gen.bat
gen_ref.bat
train.bat
__pycache__
*/**/__pycache__
logs

huggingface.token

.ipynb_checkpoints/
Stable-Diffusion-Regularization-Images-person_ddim/
latent_diffusion.egg-info/
outputs/
src/
trained_models/
training_images/
regularization_images/
scripts/.ipynb_checkpoints/

image_locations.csv